* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}



body {
    background-color:rgb(50, 50, 87);
}

.nav-section {
     background-color:rgb(50, 50, 87); 
}

.nav-section a{
    color: white;
    font-size: 17px;
}
.nav-section a span {
    color: rgb(22, 22, 255);
    font-weight: 700;
}

.nav-2 {
  margin-left: 38rem;
}

/* hover */

.nav-section a:hover {
    color:rgb(22, 22, 255);

}

.img-sec i:hover {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
    cursor: pointer;
    
   

}

/* panel-section-1 */

.panel-section-1 h4{
    
      color:rgb(22, 22, 255);
}
.panel-section-1 h1{
     font-weight: 700;
 color: white;
}

.panel-section-1 span {
     color:rgb(22, 22, 255);
}

.panel-section-1 p{
    color:lightgrey;
}

/* img-sec */

.img-sec {
    width: 340px;
    height: 400px;
    background-color:rgb(101, 101, 140) ;
    border-radius: 1.5rem;

    
} 
/* .img-sec-1 {
    width: 400px;
    height: 490px;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.img-sec img {
    width: 270px;
    height: 300px;
    background-size: cover;
    border-radius: 1.5rem;
     display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.4rem;
    
}

.img-sec i {
   color: white;
   margin-left: 1.5rem;
    width: 50px;
    height: 50px;
   
    border-radius: 50%;
   

}

/* panel-section-2 */

.panel-section-2 {
    background-color: aliceblue;
}

.panel-section-2 h2 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    text-decoration: underline rgb(22, 22, 255);
    margin-top: 4rem;
}

.panel-section-2 h3 {
    font-size: 25px;
    font-weight: 700;
    color: rgb(22, 22, 255) ;

}
.panel-section-2 p {
    color: lightslategray;
    

}
.nd {
    margin-top: 3rem;
}

.main {
    display: flex;
    
    gap: 25px;
   
}

.st  {
    width: 100px;
    height: 60px;
    background-color: rgb(217, 232, 245) ;
     border-radius: 0.5rem;

}

.st p {
    font-size: 12px;
     text-align: center;
}
.st h3 {
    text-align: center;
}




.panel-section-2 img {
    width: 300px;
    height: 270px;
    background-size: cover;
   
    margin-top: 4rem;
    border-radius: 1rem;
    
}

/* panel-section-3 */

.panel-section-3 i{
color: rgb(22, 22, 255);
font-size: 30px;
}


.panel-section-3 p{
color: black;
font-size: 15px;
}

/* .rd:hover {
    width: 80px;
    height: 60px;
    border: 1px solid gray;
    border-radius: 1rem;
    display: flex;
    gap: 3rem;
    cursor: pointer;

} */

.rd {
    cursor: pointer;
    
}

/* Featured project */

 .Featured-project img {
    width: 288px;
    background-size: cover;
}


/* clients */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* body {
  background: #f5f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.testimonial-card {
  background: #ffffff;
  width: 360px;
  padding: 24px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  position: relative;
}

.quote-icon {
  font-size: 48px;
  color: #7c7cff;
  line-height: 1;
  margin-bottom: 10px;
}

.testimonial-text {
  color: #555;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 48px;
  height: 48px;
  background: #6c63ff;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}

.user-info h4 {
  margin: 0;
  font-size: 15px;
  color: #222;
}

.user-info p {
  margin: 2px 0;
  font-size: 12px;
  color: #777;
}

.stars {
  color: #f4b400;
  font-size: 14px;
}


/* get in touch */

/* body {
  background-color: #0f172a;
  font-family: Arial, Helvetica, sans-serif;
} */

.contact-section {
  padding: 80px 0;
}

.info-box,
.form-box {
  background: #1e293b;
  border-radius: 12px;
  padding: 30px;
  height: 100%;
}

.info-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 25px;
}

.info-item i {
  font-size: 20px;
  color: #6366f1;
  padding: 10px;
  border-radius: 50%;


}

.info-item h6 {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
}

.info-item p {
  margin: 0;
  font-size: 13px;
  color: #cbd5e1;
}

.form-label {
  color: #e5e7eb;
  font-size: 13px;
}

.form-control {
  background: #334155;
  border: none;
  color: #fff;
}

.form-control::placeholder {
  color: #94a3b8;
}

.form-control:focus {
  background: #334155;
  color: #fff;
  box-shadow: none;
}

.btn-primary {
  background: #6366f1;
  border: none;
  padding: 10px;
}

/* last-nav */

.last-nav {
 background-color: #1E293B;
}


.last-nav p {
    color: #cbd5e1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

/* spinner */

.spinner-border {
    color: white;
}